.swap {
  color: white;

  &-container {
    color: white;
    position: absolute;
    left: 50%;
    top: 48%;
    transform: translate(-50%, -50%);
    border: 1px solid rgba(152, 161, 192, 0.24);
    border-radius: 1.6rem;
    padding: 0.8rem;
  }

  &-header {
    display: flex;
    justify-content: space-between;
    padding: 8px 12px;
    margin-bottom: 8px;
    div {
      display: flex;
      justify-content: space-between;
      width: 10rem;
      span {
        font-size: 16px;
        font-weight: 600;
        font-family: "inter custom", sans-serif;
        line-height: normal;

        &:not(:first-of-type) {
          color: rgb(152, 161, 192);
        }
      }
    }
  }
  &-btn {
    width: 100%;
    padding: 1.6rem;
    color: rgb(76, 130, 251);
    font-size: 20px;
    background-color: rgba(76, 130, 251, 0.24);
    border: none;
    border-radius: 12px;
    margin-top: 12px;
    cursor: pointer;

    &:hover {
      background-color: rgba(76, 131, 251, 0.301);
    }
  }

  &-switch {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(41, 50, 73);
    border: 4px solid rgb(13, 17, 28);
    border-radius: 12px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
