.search {
  &-box {
    padding: 1.2rem 1.6rem;
    border: 1px solid rgba(255, 255, 255, 0.07);
    border-width: 1px;
    border-radius: 1.2rem;
    background-color: rgba(255, 255, 255, 0.07);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 48rem;
    margin-left: -28rem;
  }

  &-input {
    background-color: transparent;
    padding: 0;
    outline: none;
    border: none;
    width: 80%;
    font-size: 16px;
    font-weight: 300;
    font-family: "Inter custom", sans-serif;
    color: white;
    margin-left: -3rem;
    line-height: 20px;

    &::placeholder {
      font-family: "inter custom", sans-serif !important;
      font-size: 1.8rem;
      font-weight: 400;
      color: #98a1c0;
    }
  }

  &-img {
    padding: 0 0.8rem;
    background-color: rgba(173, 188, 255, 0.24);
    color: rgb(152, 161, 192);
    border-radius: 4px;
    display: flex;
    font-weight: 800;
    font-size: 1.2rem;
    width: 20px;
    height: 20px;
  }
}

.swap-input {
  &__container {
    width: 45rem;
    display: flex;
    padding: 16px 16px 36px;
    background-color: rgb(19, 26, 42);
    border-radius: 12px;

    &:not(:last-of-type) {
      margin-bottom: 0.5rem;
    }

    input {
      // background-color: ;
      line-height: 4.4rem;
      color: white;
      font-size: 4rem;
      // height: 100%;
      width: 100%;
      background-color: transparent;
      outline: none;
      border: none;

      &::placeholder {
        color: rgb(152, 161, 192);
      }
      &::-webkit-scrollbar-button {
        display: none;
      }
    }
  }

  &__btn {
    // background-color: rgb(41, 50, 73);
    border-radius: 1.6rem;
    display: flex;
    align-items: center;

    button {
      padding: 4px 8px 4px 4px;
      cursor: pointer;
      background-color: rgb(41, 50, 73);
      outline: none;
      border: none;
      border-radius: 1.6rem;
      display: flex;
      align-items: center;
      text-align: center;
      img {
        width: 2.4rem;
      }
      span {
        font-size: 20px;
        font-weight: 600;
        margin: 0 0.5rem;
        color: white;
      }
      svg {
        margin: 0 4px 0 8px;
      }
    }

    &--to {
      // width: 10rem;
      // padding: 1rem;
      background-color: rgb(76, 130, 251);
      display: flex;
      align-items: center;
      // height: auto;
      color: white;
      // width: 30rem;
      padding: 0 1rem;
      border-radius: 4rem;
      cursor: pointer;
      height: 3.6rem;

      button {
        background-color: transparent;
        outline: none;
        border: none;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        height: auto;
        padding: 0;
      }

      span {
        color: white;
        font-weight: 500;
        font-size: 2rem;
        margin-right: 1rem;
        white-space: nowrap;
      }
    }
  }
}
