.hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 400;
  padding-bottom: 8rem;
  position: relative;
  align-items: center;

  &-background {
    position: absolute;
    width: 50rem;
    height: 50rem;
    background: radial-gradient(rgb(223, 46, 184) 10%, rgba(0, 0, 0, 0) 75%);
    top: -7rem;
    z-index: 1 !important;
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
  &-top {
    height: 11rem;
    background-color: rgba(7, 8, 22, 0.6);
    width: 100%;
    display: flex;
    // flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    z-index: 2;
  }

  &__texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    // padding-top: 8rem;
    // margin-top: 5rem;
    // margin-top: 11rem;
    background-color: rgba(7, 8, 22, 0.6);
    justify-content: center;
    z-index: 4;
    // margin-right: 0;
    width: 720px;

    &--body-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      background-color: rgb(7, 8, 22);
      z-index: 5;
    }
    &--h1-container {
      background: linear-gradient(
        to bottom,
        rgba(7, 8, 22, 0) 0%,
        rgb(7, 8, 22) 60%
      );
      z-index: 5;
    }

    h1 {
      font-size: 6.4rem;
      color: transparent;
      margin: 0;
      text-align: center;
      background-image: linear-gradient(
        to right,
        rgb(255, 244, 207) 10%,
        rgb(255, 87, 218) 100%
      );
      -webkit-background-clip: text;
    }
    p {
      color: rgb(93, 103, 133);
      font-weight: 500;
      font-size: 20px;
      padding: 20px 0 32px;
      margin: 0;
    }
  }
  &-more {
    display: flex;
    margin-top: 3.6rem;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    p {
      padding: 0;
    }

    svg {
      margin-top: 2px;
      margin-left: 14px;
      align-items: center;
    }

    &:hover {
      opacity: 0.6;
    }
  }
}
