.hero {
  width: 100%;
  min-height: calc(100vh - 72px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(7, 8, 22);
  // background-color: rgb(2, 2, 8);

  // padding-bottom: 80px;
  z-index: 2;
  padding-bottom: 8rem;
  position: relative;
  align-items: center;

  &-background {
    position: absolute;
    width: 50rem;
    height: 50rem;
    background: radial-gradient(rgb(223, 46, 184) 10%, rgba(0, 0, 0, 0) 75%);
    top: -7rem;
    z-index: 1 !important;
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
  &-top {
    // height: 50rem;
    background-color: rgba(7, 8, 22, 0.6);
    position: relative;
    background-color: black;
    // flex-direction: column;
    // z-index: 100;

    a{
      z-index: 50;
    }
  }

  &__texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    // padding-top: 8rem;
    // margin-top: 5rem;
    // margin-top: 11rem;
    // background-color: rgba(7, 8, 22);
    background: linear-gradient(to bottom, transparent 0%, rgba(7, 8, 22) 20%);
    justify-content: center;
    z-index: 4;
    // margin-right: 0;
    // width: 720px;
    // position: relative;
    max-width: min(720px, 90%);

    &--body-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      background-color: rgb(7, 8, 22);
      z-index: 5;
    }
    &--h1-container {
      background: linear-gradient(
        to bottom,
        rgba(7, 8, 22, 0) 0%,
        rgb(7, 8, 22) 60%
      );
      line-height: 7rem;
      z-index: 5;
    }

    h1 {
      font-size: 6.4rem;
      color: transparent;
      margin: 0;
      text-align: center;
      background-image: linear-gradient(
        to right,
        rgb(255, 244, 207) 10%,
        rgb(255, 87, 218) 100%
      );
      -webkit-background-clip: text;

    }
    p {
      color: rgb(93, 103, 133);
      font-weight: 500;
      font-size: 20px;
      padding: 20px 0 32px;
      margin: 0;
    }
  }
  &-more {
    display: flex;
    margin-top: 3.6rem;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    p {
      padding: 0;
    }

    svg {
      margin-top: 2px;
      margin-left: 14px;
      align-items: center;
    }

    &:hover {
      opacity: 0.6;
    }
  }
}


@media (max-width: 767px) {
  .hero{
    &__texts{
      // box-shadow: 1px -40px 1px rgb(7, 8, 22);
      h1{
        line-height: 6rem;
        font-size: 4.8rem;
      }
      &__body-container{
        p{
          font-size: 1.6rem;
          max-width: 600px;
        }
      }
    }
  }
}

@media (max-width: 640px) {
  .hero{
    padding-bottom: 15rem;
    &__texts{
      padding-top: 8rem;
      h1{
        line-height: 4rem;
        font-size: 3.6rem;
      }
      p{
        font-size: 1.6rem;
      }
    }
    &-more{
      display: none;
    }
  }

}

@media (max-width: 540px) {
  .hero{
    &__texts{
      max-width: 100%;
      padding: 8rem 2rem 0;
    }
  }
}