.hero {
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 4;
  margin-bottom: 8rem;
  position: relative;
  &__texts {
    display: flex;
    // width: 100% !important;
    flex-direction: column;
    align-items: center;
    margin-top: 13rem;
    background-color: rgba(7, 8, 22, 0.6);
    justify-content: center;
    z-index: 4;
    // margin-right: 0;
    width: 720px;

    &--body-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      background-color: rgb(7, 8, 22);
    }
    &--h1-container {
      background: linear-gradient(
        to bottom,
        rgba(7, 8, 22, 0.1) 0%,
        rgb(7, 8, 22) 100%
      );
    }

    h1 {
      font-size: 6.4rem;
      color: transparent;
      margin: 0;
      text-align: center;
      background-image: linear-gradient(
        to right,
        rgb(255, 244, 207) 10%,
        rgb(255, 87, 218) 100%
      );
      -webkit-background-clip: text;
    }
    p {
      color: rgb(93, 103, 133);
      font-weight: 500;
      font-size: 20px;
      padding: 20px 0 32px;
      margin: 0;
    }
  }
  &-more {
    display: flex;
    margin-top: 3.6rem;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    p {
      padding: 0;
    }

    svg {
      margin-top: 2px;
      margin-left: 14px;
      align-items: center;
    }

    &:hover {
      opacity: 0.6;
    }
  }
}
