.home {
  //   position: relative;

  &-body {
    background: linear-gradient(
      179.82deg,
      rgba(0, 0, 0, 0) 0.16%,
      rgb(5, 0, 38) 99.85%
    );
    padding: 0 9.6rem 8rem;
    border: 1px solid transparent;
  }

  &-bigcards {
    display: flex;
    gap: 3.2rem;
  }

  &-smallcards {
    display: flex;
    gap: 3.2rem;
    padding-top: 2.4rem;
    height: 26rem;
  }
}
