.card {
  padding: 2.4rem;
  height: 36rem;
  color: white;
  width: 100%;
  background: url(../../assets/images/swapCard.1a0376fd.png) right center / auto
    100% no-repeat border-box rgb(19, 26, 42);
  //   background-position: right center / auto 100%;
  //   background-repeat: no-repeat;
  border-radius: 2.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;

  &-header {
    font-size: 2.8rem;
    margin: 0;
    font-weight: 600;
  }

  &-body {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    span {
      font-size: 2rem;
    }

    a {
      color: rgb(76, 130, 251);
      font-size: 2rem;
      font-weight: 500;
      text-decoration: none;
    }
  }
}

.small-card {
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  border: 1px solid rgba(152, 161, 192, 0.24);
  border-radius: 2.4rem;
  height: 26rem;
  background: right center / auto 100% no-repeat border-box rgb(13, 17, 28);

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    p {
      font-size: 2.8rem;
      font-weight: 600;
      margin: 0;
    }

    img {
      min-width: 20px;
      max-height: 48px;
      min-height: 20px;
      max-width: 48px;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    
    span {
      font-size: 1.6rem;
      color: rgb(152, 161, 192);
      margin-right: 4rem;
    }
    a {
      color: rgb(76, 130, 251);
      font-size: 1.6rem;
      font-weight: 500;
      text-decoration: none;
      margin-top: 1rem;
    }
  }
}

.card2{
  background: url(../../assets/images/nftCard.ec17cbfb.png) right center / auto 100% no-repeat border-box rgb(13, 17, 28);
}

@media (max-width: 1023) {
  .small-card{
    width: 100%;
  }
}