.active {
  color: white;
}

.navigationItem {
  padding: 0.85rem 1.45rem;
  text-decoration: none;
  color: #98a1c0;
  font-weight: 500;
  font-size: 18px;
  border-radius: 1rem;
  cursor: pointer;
  display: flex;
  //   align-items: center;
  justify-content: center;
  //   background-color: rebeccapurple;

  &:hover {
    background-color: #98a1c02c;
  }
}
