.active {
  color: white;
}

.navigationItem {
  padding: 0.85rem 1.2rem;
  text-decoration: none;
  color: #98a1c0;
  font-weight: 400;
  font-size: 18px;
  border-radius: 1rem;
  cursor: pointer;
  display: flex;
  //   align-items: center;
  justify-content: center;
  //   background-color: rebeccapurple;

  &:hover {
    background-color: #98a1c02c;
  }
}

@media (max-width: 1279px) {
  .navigationItem {
    &:last-of-type {
      display: none;
    }
  }
}

@media (max-width: 640px) {
  .navigationItem{
    display: none;
  }
}