.navbar {
  padding: 2rem 1.2rem;
  //   height: 7.2rem;
  background-color: rgb(7, 8, 22);
  display: flex;
  justify-content: space-between;
  align-items: center;
  //   box-sizing: border-box;
  height: 72px;
}

.nav {
  display: flex;
  align-items: center;
}
