.nav{
    position: sticky;
    bottom: 0;
    width: 100%;
    padding: .1rem 1rem;
    border-top: 1px solid #d6d9e23d;
    background-color: rgb(13, 17, 28);;
    z-index: 10;
    justify-content: space-between;
    display: none;
}

@media (max-width: 767px) {
    .nav{
        display: flex;
    }
}